<ion-view view-title="Share"> <ion-content>

<div class="list card">

<div class="list card">

  <div class="item item-avatar">
    <img src="data\img\togaf.jpg">
    <h2>TOGAF - Foundation</h2>
    <p>The Open EA Group</p>
  </div>

  <div class="item item-body">
   <!--  <img class="full-image" src="delorean.jpg"> -->
    <p>
     Thank you for using our app. If you have any questions or feedback about this app or its contents,
     please contact us either by email. Drop us a line at <strong>togafcertification@gmail.com</strong>
    </p>
    <p>
     <!--  <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a> -->
      Thanks and all the best!
    </p>
  </div>

</div>

</ion-content> </ion-view>
