<ion-modal-view>
  <ion-header-bar class="bar-calm">

  </ion-header-bar>
  <ion-content>
<div class="list card">

  <div class="item item-avatar">
     <img height="150" width="150" ng-src="data/img/exam.jpg" >
    <h2> {{'Certification Exam'}}</h2>
     <p>40 questions, 60 minutes </p>
    
    
  </div>

  <div class="item item-body">

<div class="row">
      <div class="col col-80"><strong>Topic</strong></div>
      <div class="col col-20"><strong>Q's</strong></div>
    </div>
    <div class="row">
      <div class="col col-80">Basic Concepts</div>
      <div class="col col-20">3</div>
    </div>

    <div class="row">
      <div class="col col-80">Core Concepts</div>
      <div class="col col-20">3</div>
    </div>

    <div class="row">
      <div class="col col-80">Intro to ADM</div>
      <div class="col col-20">3</div>
    </div>

    <div class="row">
      <div class="col col-80">Enterprise Continuum</div>
      <div class="col col-20">4</div>
    </div>
    <div class="row">
      <div class="col col-80">ADM Phases</div>
      <div class="col col-20">9</div>
    </div>
    
    <div class="row">
      <div class="col col-80">ADM Guidelines & Techniques</div>
      <div class="col col-20">6</div>
    </div>
    
    <div class="row">
      <div class="col col-80">Architecture Governance</div>
      <div class="col col-20">4</div>
    </div>
    
       <div class="row">
      <div class="col col-80">Views, ViewPoints, StkHolders</div>
      <div class="col col-20">2</div>
    </div>
          <div class="row">
      <div class="col col-80">Building Blocks</div>
      <div class="col col-20">2</div>
    </div>
    
          <div class="row">
      <div class="col col-80">ADM Deliverables</div>
      <div class="col col-20">2</div>
    </div>
          <div class="row">
      <div class="col col-80">TOGAF Reference Models</div>
      <div class="col col-20">2</div>
    </div>

  <div class="row">
      <div class="col col-80"><strong>Total</strong></div>
      <div class="col col-20"><strong>40</strong></div>
    </div>
   
    <!-- <img class="full-image" height="150" width="100" ng-src="data/img/table.jpg"> -->
    <p>
     
	  Unless otherwise stated, all questions have only <strong>ONE correct answer.</strong>
      This is a timed exam. Once you start you will not be able to be pause. 
      The TOGAF Foundation exam contains 40 questions and you are given 60 minutes.  
      These practice exams contain a mix of questions from all topics that you are expected to know for the certification exam.
      Good luck.
    </p>
    
  </div>
  <div class="center">

<button class="button button-calm" ng-click="startPracticeExam()">
 Start Practice Exam
</button>
<button class="button button-calm" ng-click="closeWarning()">
 Cancel
</button>
</div>


</div>


  </ion-content>
</ion-modal-view>
